#navbarNavbar {
    z-index: 10 !important;
    padding: 0px !important;
    font-size: 16px !important;
    background-color: #343a40fb !important;
    position: fixed;
    width: 100%;
    top: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-family: Poppins !important;
    padding-right: 13px !important;
    padding-left: 13px !important;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background: #0ae;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, rgb(122, 153, 217)),
            color-stop(0.72, rgb(73, 125, 189)),
            color-stop(0.86, rgb(28, 84, 148)));
}

::-webkit-scrollbar-track {
    background-color: #fff;
    background: #F5F5F5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins;
}

p {
    font-family: Roboto;
}

#showcase {
    margin-top: 70px;
}

#showcase h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#showcase img {
    width: 80%;
}

#showcase .showcase-right {
    margin-top: 20px;
}

#my-header {
    margin-top: 60px !important;
}

#testimonial {
    margin-top: 100px;
    background-color: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
}

#testimonial p {
    font-family: 'Josefin Sans';
    font-size: 16px;
    color: black;
}

#testimonial p.customer {
    font-size: 14.5px;
    color: #666;
}

#contact {
    margin-top: 60px;
    padding: 40px;
    color: white;
    border-top: #333 7px solid;
    border-bottom: #333 7px solid;
    background: url(../billeder/contact_us_img.jpg);
}

footer {
    padding: 30px;
}

footer p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}